In [1]:
import pandas as pd
import numpy as np                     # For mathematical calculations
import seaborn as sns                  # For data visualization
import matplotlib.pyplot as plt        # For plotting graphs
%matplotlib inline
import warnings                        # To ignore any warnings
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.cluster import KMeans

warnings.filterwarnings("ignore")

In [8]:
df =pd.read_csv("C:\\Users\\Hotelsng\\Downloads\\gpa1.csv")

In [9]:
df.head()

   admit  gre   gpa  rank_2  rank_3  rank_4
0      0  380  3.61       0       1       0
1      1  660  3.67       0       1       0
2      1  800  4.00       0       0       0
3      1  640  3.19       0       0       1
4      0  520  2.93       0       0       1

In [10]:
df.isnull().sum()

admit     0
gre       0
gpa       0
rank_2    0
rank_3    0
rank_4    0
dtype: int64

In [22]:
df2= df.copy()

In [24]:
df2

     admit  gre   gpa
0        0  380  3.61
1        1  660  3.67
2        1  800  4.00
3        1  640  3.19
4        0  520  2.93
5        1  760  3.00
6        1  560  2.98
7        0  400  3.08
8        1  540  3.39
9        0  700  3.92
10       0  800  4.00
11       0  440  3.22
12       1  760  4.00
13       0  700  3.08
14       1  700  4.00
15       0  480  3.44
16       0  780  3.87
17       0  360  2.56
18       0  800  3.75
19       1  540  3.81
20       0  500  3.17
21       1  660  3.63
22       0  600  2.82
23       0  680  3.19
24       1  760  3.35
25       1  800  3.66
26       1  620  3.61
27       1  520  3.74
28       1  780  3.22
29       0  520  3.29
..     ...  ...   ...
370      1  540  3.77
371      1  680  3.76
372      1  680  2.42
373      1  620  3.37
374      0  560  3.78
375      0  560  3.49
376      0  620  3.63
377      1  800  4.00
378      0  640  3.12
379      0  540  2.70
380      0  700  3.65
381      1  540  3.49
382      0  540  3.51
383      0  660  4.00
384      1  480  2.62
385      0  420  3.02
386      1  740  3.86
387      0  580  3.36
388      0  640  3.17
389      0  640  3.51
390      1  800  3.05
391      1  660  3.88
392      1  600  3.38
393      1  620  3.75
394      1  460  3.99
395      0  620  4.00
396      0  560  3.04
397      0  460  2.63
398      0  700  3.65
399      0  600  3.89

[400 rows x 3 columns]

In [25]:
bins= [0, 300, 600, 900]